body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 15vh auto;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 15px rgb(180, 51, 73);
    /* background-color: gray; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input {
    width: 100%;
    margin: 5px 0;
    height: 35px;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}

select {
    width: 100%;
    margin: 5px 0;
    height: 35px;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}

textarea {
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}
input[type=submit]{
    margin: 10px auto;
    width: 120px;
    background: rgb(216, 31, 62);
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
background: tomato;
}
@media screen and (max-width:600px) {
    .container{
        width: 90%;
    }
}
