
h1{
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: 800;
}
h3{
    text-align: left;
    color: white;
    font-size: 80px;
    font-weight: 800;
}

h4{
    font-size: 20px;
    color: white;
}

.main-container{
    padding:15px 9%;
    padding-bottom: 20px;
}

.main-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.main-container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: ghostwhite;
    text-align: center;
    padding:30px 20px;
}

.main-container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
    text-align: center;
}

.main-container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.main-container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:darkorange;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-align: center;
}

.main-container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.top-container{
    background:linear-gradient(to bottom right, blue, red);
    padding:15px 9%;
    padding-bottom: 15px;
}

.top-container .bottom-container .button{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.top-container .bottom-container .button:hover{
    letter-spacing: 1px;
}

.audit-top-container{
    background:linear-gradient(to bottom right, blue, red);
    padding:15px 9%;
    padding-bottom: 15px;
}

.audit-top-container .audit-bottom-container .button{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.audit-top-container .audit-bottom-container .button:hover{
    letter-spacing: 1px;
}
@media (max-width:768px){
    .main-container{
        padding:20px;
    }
    .top-container{
        padding:0px;
    }
    .audit-top-container{
        padding:0px;
    }
    h3{
        text-align: left;
        color: white;
        font-size: 50px;
        font-weight: 800;
        margin-left: 10px;
    }
    
    h4{
        font-size: 20px;
        color: white;
    }
}